body {
  background-color: #fff;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

.App-title {
  font-size: 1.5em;
}

html,
body,
#root {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.ReactVirtualized__Table__headerTruncatedText {
  display: inline;
}

.ReactVirtualized__Table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: stretch;
}

.ReactVirtualized__Table__headerColumn,
.ReactVirtualized__Table__rowColumn {
  margin: 0;
}

.ReactVirtualized__Table__rowColumn:hover {
}

.ReactVirtualized__Table__row:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

input[contenteditable] {
  border: 1px solid black;
  max-height: 100%;
  overflow: auto;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.myInput:hover {
  background-color: rgba(170, 217, 177, 0.5);
}
